<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Virtual Memories</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<img src="virtual.png" class="logo" alt="" >
	<img src="wallpaper.jpg" class="AnimeWallpaper" alt="" >
	</img>
	</img>
 </div>
     <nav>
        <style>
            body{
                background: #FF83D2;
            }
        </style>

       <ul>
         <li><a href="#">INICIO</a></li>
         <li><a href="#">NOTICIAS</a></li>
         <li><a href="#">CONTACTO</a></li>
         <li><a href="#">LEGAL</a></li>
         <li><a href="#">CALENDARIO DE EVENTOS</a></li>
         <li><a href="#">CONFIGURACION</a></li>
		 <li><a href="./login/login.html">LOGIN</a></li>
       </ul> 

       <div class="Caja"> ¡Conoce A Nuestro Elenco! </div>

       <div id="cartas">
 <% /*  <div class="card">
            <div class="face front">
                <img src="img1.jpeg" alt="">
                <h3>Miku Nakano</h3>
            </div>
        <div class="face back">
                <h3>Hikari Kinomo</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius harum molestiae iste, nihil doloribus fugiat distinctio ducimus maxime totam nulla fuga odio non aperiam eos?</p>
            <div class="link">
                <a href="#">Details</a>
            </div>
        </div>
    */ %>
    </div>
    <script src="functions.js"></script>
</nav>
</body>
</html>